@xs_only: ~"screen and (max-width: 599px)";
@sm: ~"screen and (min-width: 600px)";

.App {
  text-align: center;
}

.App-header {
  background-color: #373737;
  height: 50px;
  padding: 20px;
  color: #C0B283;
  text-align: left;
}

.App-title {
  font-size: 1.5em;
  font-family: Verdana;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.App-intro {
  font-size: large;
}

.table {
  width: 30%;
  margin: 0 auto;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

.table-header {
  display: flex;
  line-height: 24px;
  font-size: 16px;
  justify-content: space-between;
}

.table-empty {
  margin: 200px;
  text-align: center;
  font-size: 16px;
}

.table-row {
  display: flex;
  line-height: 30px;
  white-space: nowrap;
  padding: 10px;
  background: #F4F4F4;
  border: 1px solid #DCD0C0;
  border-radius: 5px;
}

.table-header > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}

.table-row > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}

.header {
  font-weight: bold;
}

.header-row {
  background: #DCD0C0;
}
