.App {
  text-align: center;
}

.App-header {
  background-color: #373737;
  height: 50px;
  padding: 20px;
  color: #C0B283;
  text-align: left;
}

.App-title {
  font-size: 1.5em;
  font-family: Verdana;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.App-intro {
  font-size: large;
}

.page {
  margin: 20px;
}

.interactions {
  text-align: center;
}

.table {
  margin: 20px 0;
}

.table-header {
  display: flex;
  line-height: 24px;
  font-size: 16px;
  padding: 0 10px;
  justify-content: space-between;
}

.table-empty {
  margin: 200px;
  text-align: center;
  font-size: 16px;
}

.table-row {
  display: flex;
  line-height: 30px;
  white-space: nowrap;
  padding: 10px;
  margin: 60px;
  background: #F4F4F4;
  border: 1px solid #DCD0C0;
  width: 90%;
}
